body{
  background-image: url(bg.jpg);
  background-size: cover;
  font-family:  Ubuntu Condensed;
  width:100vw;
  height: 100vh;
  margin: 0;
}

.water {
  fill: #20208d;
}

.land {
  fill: #aeaa34;
  stroke: #000;
  stroke-width: 0.7px;
}

.land:hover {
  fill:#33CC33;
  stroke-width: 1px;
}

.focused {
  fill: #33CC33;
}

#flag
{
  width: 200px;
  height: 100px;
}

select {
  display: none;
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  font-family:  Ubuntu Condensed;
}

.countryTooltip {

  position: absolute;
  display: none;
  pointer-events: none;
  background: #20208d;
  padding: 2px;
  text-align: left;
  border: solid #ccc 1px;
  border-radius: 15px;
  color: #FFF;
  font-size: 14px;
}

svg{
  transform: translateZ(0);
  display: none;
}

#info{
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
  font-size: 26px;
  color: white;
  display: none;
  
  word-wrap: break-word;
}

table
{
  border-collapse: collapse;
}

table tr
{
   padding-top: .5em;
   padding-bottom: .5em;
}

table td
{
  width: 150px;
  float: left;
}

nav{
  text-align: center;
}
nav ul{
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 700px;
}
nav ul li{
  display: block;
}
nav ul li a{
  display: block;
  padding: 10px 15px;
  color: #FFF;
  text-decoration: none;
  font-size: 50px;
  transform: translateZ(0);
}
#gameName{
  color: #FFF;
  display: block;
  margin: 0;
  font-size: 100px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  z-index: 1;
}
#learn{
  margin-top: 200px;
  margin-bottom: 50px;
}

#earth{
  align-content: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

li a:hover{
  transition: all 0.7s;
  background: #20208d;
  border-radius: 25px;

}